{% liquid 
    case block.settings.img_orientation
        when 'square'
            assign img_width  = 300
            assign img_height = 300
        when 'landscape'
            assign img_width  = 300
            assign img_height = 240
        when 'potrait'
            assign img_width  = 240
            assign img_height = 300
    endcase
  
    assign current_variant = product.selected_or_first_available_variant

    assign metafield_namespace = block.settings.metafield | split: '.' | first
    assign metafield_key = block.settings.metafield | split: '.' | last

    assign metafield_value = product.metafields[metafield_namespace][metafield_key].value

    assign mt = block.settings.mt | prepend: 'mt-'
    assign mb = block.settings.mb | prepend: 'mb-'

    assign all_texts = block.settings.text_offer_all_blocks | split: ','
    assign enable_animation = block.settings.enable_animation_last_block
%}

{% if metafield_value %}
    {% if block.settings.style_packs == 'inline' %}
        <div 
            id="product-qty-breaks"
            class="{{ mt }} {{ mb }}" {{ block.shopify_attributes }}>
            <h2 
                id="product-qty-breaks-title"
                class="title {{ block.settings.title_size }}">
                {{ block.settings.title }}
            </h2>
            <ul 
                id="product-qty-breaks-list"
                class="list-unstyled mb-0" 
                aria-labelledby="product-qty-breaks-title">
                {% for item in metafield_value %}
                    {% liquid
                        assign qty = item | split: ':' | first | plus: 0
                        assign discount = item | split: ':' | last | plus: 0
                        assign save = discount | append: '%'
                        assign price_per_item = current_variant.price
                        assign total_price_before_discount = price_per_item | times: qty
                        assign total_discount_amount = total_price_before_discount | times: discount | divided_by: 100.0
                        assign total_price_after_discount = total_price_before_discount | minus: total_discount_amount
                        assign price = total_price_after_discount | money
                        assign price_compare = total_price_before_discount | money
                        assign price_cash = total_discount_amount | money
                    %}
                    <li class="form-check">
                        <input 
                            id="product-qty-breaks-{{ forloop.index }}"
                            class="form-check-input" 
                            type="radio"
                            name="product-qty-breaks"
                            data-qty="{{ qty }}"
                            data-discount="{{ discount }}"
                            data-variant-id="{{ current_variant.id }}"
                            data-price="{{ price }}"
                            data-price-compare="{{ price_compare }}"
                            data-price-cash="{{ price_cash }}"
                        >
                        <label class="form-check-label" for="product-qty-breaks-{{ forloop.index }}">
                            {{ 'product.qty_breaks.label_text_html' | t: qty: qty, pricecash: price_cash, save: save }}
                            <br>
                            <span class="product-item-price-final me-1">
                                {{ price }}
                            </span>
                            <span class="text-muted">
                                <s>{{ price_compare }}</s>
                            </span> 
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div 
            id="product-qty-breaks"
            class="{{ mt }} {{ mb }}" {{ block.shopify_attributes }}>
            <h2 
                id="product-qty-breaks-title"
                class="title {{ block.settings.title_size }}">
                {{ block.settings.title }}
            </h2>
            <ul 
              id="product-qty-breaks-list"
              class="product-listing list-unstyled row row-cols-1 row-cols-xl-2 mx-n2 mb-3" 
              aria-labelledby="product-qty-breaks-title">
              
              {% for item in metafield_value %}
                  {% liquid
                      assign qty = item | split: ':' | first | plus: 0
                      assign discount = item | split: ':' | last | plus: 0
                      assign save = discount | append: '%'
                      assign price_per_item = current_variant.price
                      assign total_price_before_discount = price_per_item | times: qty
                      assign total_discount_amount = total_price_before_discount | times: discount | divided_by: 100.0
                      assign total_price_after_discount = total_price_before_discount | minus: total_discount_amount
                      assign price = total_price_after_discount | money
                      assign price_compare = total_price_before_discount | money
                      assign price_cash = total_discount_amount | money
                  %}  
                  
                      <li class="product-item pb-5">
                          <span class="pack-reduction {{ block.settings.bg_color }} rounded-top mx-n3">
                              {{ 'product.qty_breaks.label_text_html_bundle_header' | t: pricecash: price_cash, save: save }}
                          </span>
                          <div class="row align-items-center border rounded-bottom bg-light pb-3 mx-n3">
                              <div class="col-1 col-xl-1 px-3">
                                  <div class="">            
                                        <div class="form-check">
                                            <input 
                                                id="product-qty-breaks-{{ forloop.index }}"
                                                class="form-check-input" 
                                                type="radio"
                                                name="product-qty-breaks"
                                                data-qty="{{ qty }}"
                                                data-discount="{{ discount }}"
                                                data-variant-id="{{ current_variant.id }}"
                                                data-price="{{ price }}"
                                                data-price-compare="{{ price_compare }}"
                                                data-price-cash="{{ price_cash }}"
                                            >
                                        </div>
                                    </div>
                              </div>
                              
                              <div class="col-4 col-xl-4 py-4 px-3">
                                  <label class="form-check-label" for="product-qty-breaks-{{ forloop.index }}">
                                            <img
                                                class="product-item-img img-fluid rounded {{ block.settings.img_thumbnail }} {{ block.settings.shadow_sp }}"
                                                {% if current_variant.image %}
                                                  src="{{ current_variant.featured_image | image_url: width: img_width, height: img_height, crop: 'center' }}" 
                                                {% else %}
                                                  src="{{ product.featured_image | image_url: width: img_width, height: img_height, crop: 'center' }}" 
                                                {% endif %}
                                                alt="{{ current_variant.featured_image.alt | escape }}"
                                                width="{{ img_width }}"
                                                height="{{ img_height }}" 
                                                loading="lazy">
                                  </label>
                              </div>
                            
                              <div class="col-7 col-xl-7 px-3">
                                  <div class="">
                                      <label class="form-check-label" for="product-qty-breaks-{{ forloop.index }}">
                                          {% if forloop.last %}
                                              {% assign block_text = all_texts | last | strip %}
                                              {% assign text_color = block.settings.offer_color_last %}
                                              {% assign additional_styles = enable_animation %}

                                              {% if additional_styles %}
                                                  {% assign additional_styles = "animation: flash 3s infinite;" %}
                                              {% else %}
                                                  {% assign additional_styles = "" %}
                                              {% endif %}
                                            
                                          {% else %}
                                              {% assign block_text = all_texts[forloop.index0] | strip %}
                                              {% assign text_color = block.settings.offer_color_all_blocks %}
                                              {% assign additional_styles = "" %}
                                          {% endif %}

                                          {% unless block_text == blank %}
                                              <div class="small fw-semibold mb-1 mt-3">
                                                  <span style="color: {{ text_color }}; {{ additional_styles }}">
                                                      {{ block_text }}
                                                  </span>
                                              </div>
                                          {% endunless %}
                                          <b>{{ 'product.qty_breaks.label_text_html_bundle' | t: qty: qty }}</b>
                                          <br> {{ product.title }}
                                          <br>
                                          <span class="product-item-price-final me-1">
                                              {{ price }}
                                          </span>
                                          <span class="text-muted">
                                              <s>{{ price_compare }}</s>
                                          </span> 
                                      </label>
                                  </div>
                              </div> 
                            
                          </div>
                      </li>
              {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}


