<div class="top-social-bar"></div>
  <div class="social-icons-left">
    {% if settings.social_instagram != blank %}
      <a href="{{ settings.social_instagram }}" target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/instagram.png?v=1745524276" alt="Instagram" class="social-img-icon">
      </a>
    {% endif %}
    {% if settings.social_facebook != blank %}
      <a href="{{ settings.social_facebook }}" target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/facebook.png?v=1745524263" alt="Facebook" class="social-img-icon">
      </a>
    {% endif %}
    {% if settings.social_tiktok != blank %}
      <a href="{{ settings.social_tiktok }}" target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/tiktok.png?v=1745524249" alt="TikTok" class="social-img-icon">
      </a>
    {% endif %}
    {% if settings.social_phone != blank %}
      <a href="https://wa.me/{{ settings.social_phone | remove: '+' | remove: '(' | remove: ')' | remove: ' ' | remove: '-' }}" target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/WhatsApp.png?v=1745524257" alt="WhatsApp" class="social-img-icon">
      </a>
    {% endif %}
    {% if settings.social_email != blank %}
      <a href="mailto:{{ settings.social_email }}">
        <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/mail.png?v=1745524212" alt="Email" class="social-img-icon">
      </a>
    {% endif %}
  </div>
<div class="language-selector-right">
  <a href="/" aria-label="English">
    <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/US_FLAG.jpg?v=1747010572" alt="English" class="flag-icon" />
  </a>
  <a href="/fr" aria-label="Français">
    <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/FR_FLAG.jpg?v=1747010571" alt="Français" class="flag-icon" />
  </a>
  <a href="/de" aria-label="Deutsch">
    <img src="https://cdn.shopify.com/s/files/1/0861/3180/2460/files/DE_FLAG.jpg?v=1747010571" alt="Deutsch" class="flag-icon" />
   </a>
</div> <!-- .language-selector-right -->
</div> <!-- .top-social-bar -->
