{% comment %}
Section : Réseaux sociaux
{% endcomment %}

<div class="footer-social-icons">
  <a href="https://www.instagram.com/spencerandthecity/" target="_blank" rel="noopener">
    <img src="{{ 'instagram.png' | asset_url }}" alt="Instagram" class="social-img-icon" loading="lazy">
  </a>
  <a href="https://www.facebook.com/profile.php?id=61573834333893" target="_blank" rel="noopener">
    <img src="{{ 'facebook.png' | asset_url }}" alt="Facebook" class="social-img-icon" loading="lazy">
  </a>
  <a href="https://www.tiktok.com/@thepetsociety_paris" target="_blank" rel="noopener">
    <img src="{{ 'tiktok.png' | asset_url }}" alt="TikTok" class="social-img-icon" loading="lazy">
  </a>
  <a href="https://wa.me/3369238799" target="_blank" rel="noopener">
    <img src="{{ 'WhatsApp.png' | asset_url }}" alt="WhatsApp" class="social-img-icon" loading="lazy">
  </a>
  <a href="mailto:hello@thepetsociety.paris">
    <img src="{{ 'mail.png' | asset_url }}" alt="Email" class="social-img-icon" loading="lazy">
  </a>
</div>