<div class="top-social-bar">
  <div class="social-icons-left">
    <a href="https://www.instagram.com/spencerandthecity/" target="_blank" rel="noopener">
      <img src="{{ 'instagram.png' | asset_url }}" alt="Instagram" class="social-img-icon" />
    </a>
    <a href="https://www.facebook.com/profile.php?id=61573834333893" target="_blank" rel="noopener">
      <img src="{{ 'facebook.png' | asset_url }}" alt="Facebook" class="social-img-icon" />
    </a>
    <a href="https://www.tiktok.com/@thepetsociety_paris" target="_blank" rel="noopener">
      <img src="{{ 'tiktok.png' | asset_url }}" alt="TikTok" class="social-img-icon" />
    </a>
    <a href="https://wa.me/3369238799" target="_blank" rel="noopener">
      <img src="{{ 'WhatsApp.png' | asset_url }}" alt="WhatsApp" class="social-img-icon" />
    </a>
    <a href="mailto:hello@thepetsociety.paris">
      <img src="{{ 'mail.png' | asset_url }}" alt="Email" class="social-img-icon" />
    </a>
  </div>

  <div class="language-selector-right">
    <a href="/" class="flag-icon" aria-label="English">
      <img src="{{ 'flag-en.png' | asset_url }}" alt="English" />
    </a>
    <a href="/fr" class="flag-icon" aria-label="Français">
      <img src="{{ 'flag-fr.png' | asset_url }}" alt="Français" />
    </a>
    <a href="/de" class="flag-icon" aria-label="Deutsch">
      <img src="{{ 'flag-de.png' | asset_url }}" alt="Deutsch" />
    </a>
  </div>
</div>