{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'
  
    assign bg_color = section.settings.bg_color
  
    if section.settings.bg_gradient
      assign bg_color = bg_color | append: ' bg-gradient'
    endif
  
    assign btn_shadow_sp = settings.btn_shadow_sp
%}

<section
  id="discount-bar-{{ section.id }}"
  class="discount-bar enter-view {{ bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
>
    <div
      class="{% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
      data-animate-class="{{ section.settings.animation }}"
    >
        <div class="d-flex flex-wrap justify-content-center align-items-center text-center gap-3 p-2">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'title' %}
                        <{{ block.settings.heading_tag }} class="title py-2 px-4 mb-0 {{ block.settings.title_size }}" {{ block.shopify_attributes }}>
                            {{ block.settings.title }}
                        </{{ block.settings.heading_tag }}>
                    {% when 'text' %}
                        <div class="py-2 px-4" {{ block.shopify_attributes }}>
                          {{ block.settings.text }}
                        </div>
                    {% when 'discount' %}
                        <div class="py-2 px-4 {% if block.settings.borders %}border-start border-end{% endif %}">
                            <button
                              class="btn {{ block.settings.btn_color }} {{ btn_shadow_sp }} {{ block.settings.btn_size }} copyCodeBtn"
                              type="button"
                              data-discount-code="{{ block.settings.code }}"
                              {{ block.shopify_attributes }}
                            >
                              {% render 'icons', icon: block.settings.icon, class: 'copyCodeIcon' %}
                              {% render 'icons', icon: 'check', color: 'green', class: 'd-none copiedCodeCheckMark' %}
                              <span class="copyDiscountText">{{ block.settings.code }}</span>
                            </button>
                        </div>
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Barre de Réduction",
    "max_blocks": 3,
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Couleur de l'arrière plan",
            "default": "bg-body text-body",
            "options": [
                { "group": "Principal", "value": "bg-primary text-white", "label": "Primaire" },
                { "group": "Principal", "value": "bg-secondary text-white", "label": "Secondaire" },
                { "group": "Principal", "value": "bg-tertiary text-white", "label": "Tertiaire" },
                { "group": "Intermédiaire", "value": "bg-white text-dark", "label": "Blanc" },
                { "group": "Intermédiaire", "value": "bg-light text-body", "label": "Claire" },
                { "group": "Intermédiaire", "value": "bg-dark text-white", "label": "Sombre" },
                { "group": "Par défaut", "value": "bg-body text-body", "label": "Corps (body)" },
                { "group": "Alerte", "value": "bg-success text-white", "label": "Succès" },
                { "group": "Alerte", "value": "bg-warning text-dark", "label": "Avertissement" },
                { "group": "Alerte", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alerte", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Dégradé d'arrière-plan",
            "default": false,
            "info": "Ne s'applique pas aux couleurs claires"
        },
        {
            "type": "header",
            "content": "Animation"
        },
        {
            "type": "select",
            "id": "animation",
            "label": "Effet d'animation",
            "default": "animate__zoomIn",
            "options": [
                { "group": "Désactivé", "value": "", "label": "Pas d'animation" },
                { "group": "Retour", "value": "animate__backInDown", "label": "Back In Down" },
                { "group": "Retour", "value": "animate__backInLeft", "label": "Back In Left" },
                { "group": "Retour", "value": "animate__backInRight", "label": "Back In Right" },
                { "group": "Retour", "value": "animate__backInUp", "label": "Back In Up" },
                { "group": "Rebond", "value": "animate__bounceIn", "label": "Bounce In" },
                { "group": "Rebond", "value": "animate__bounceInDown", "label": "Bounce-in-down" },
                { "group": "Rebond", "value": "animate__bounceInLeft", "label": "Bounce-in-left" },
                { "group": "Rebond", "value": "animate__bounceInRight", "label": "Bounce-in-right" },
                { "group": "Rebond", "value": "animate__bounceInUp", "label": "Bounce-in-up" },
                { "group": "Fondu", "value": "animate__fadeIn", "label": "Fade In" },
                { "group": "Fondu", "value": "animate__fadeInDown", "label": "Fade-in-down" },
                { "group": "Fondu", "value": "animate__fadeInDownBig", "label": "Fade-in-down Big" },
                { "group": "Fondu", "value": "animate__fadeInLeft", "label": "Fade-in-left" },
                { "group": "Fondu", "value": "animate__fadeInLeftBig", "label": "Fade-in-left Big" },
                { "group": "Fondu", "value": "animate__fadeInRight", "label": "Fade-in-right" },
                { "group": "Fondu", "value": "animate__fadeInRightBig", "label": "Fade-in-right Big" },
                { "group": "Fondu", "value": "animate__fadeInUp", "label": "Fade-in-up" },
                { "group": "Fondu", "value": "animate__fadeInUpBig", "label": "Fade-in-up Big" },
                { "group": "Fondu", "value": "animate__fadeInTopLeft", "label": "Fade-in Top Left" },
                { "group": "Fondu", "value": "animate__fadeInTopRight", "label": "Fade-in Top Right" },
                { "group": "Fondu", "value": "animate__fadeInBottomLeft", "label": "Fade-in Bottom Left" },
                { "group": "Fondu", "value": "animate__fadeInBottomRight", "label": "Fade-in Bottom Right" },
                { "group": "Flip", "value": "animate__flip", "label": "Flip" },
                { "group": "Flip", "value": "animate__flipInX", "label": "Flip In X" },
                { "group": "Flip", "value": "animate__flipInY", "label": "Flip In Y" },
                { "group": "Flip", "value": "animate__flipOutX", "label": "Flip Out X" },
                { "group": "Flip", "value": "animate__flipOutY", "label": "Flip Out Y" },
                { "group": "Vitesse Lumière", "value": "animate__lightSpeedInRight", "label": "Light Speed In Right" },
                { "group": "Vitesse Lumière", "value": "animate__lightSpeedInLeft", "label": "Light Speed In Left" },
                { "group": "Rotation", "value": "animate__rotateIn", "label": "Rotate In" },
                { "group": "Rotation", "value": "animate__rotateInDownLeft", "label": "Rotate In Down Left" },
                { "group": "Rotation", "value": "animate__rotateInDownRight", "label": "Rotate In Down Right" },
                { "group": "Rotation", "value": "animate__rotateInUpLeft", "label": "Rotate In Up Left" },
                { "group": "Rotation", "value": "animate__rotateInUpRight", "label": "Rotate In Up Right" },
                { "group": "Zoom", "value": "animate__zoomIn", "label": "Zoom In" },
                { "group": "Zoom", "value": "animate__zoomInDown", "label": "Zoom In Down" },
                { "group": "Zoom", "value": "animate__zoomInLeft", "label": "Zoom In Left" },
                { "group": "Zoom", "value": "animate__zoomInRight", "label": "Zoom In Right" },
                { "group": "Zoom", "value": "animate__zoomInUp", "label": "Zoom In Up" },
                { "group": "Glissement", "value": "animate__slideInDown", "label": "Slide In Down" },
                { "group": "Glissement", "value": "animate__slideInLeft", "label": "Slide In Left" },
                { "group": "Glissement", "value": "animate__slideInRight", "label": "Slide In Right" },
                { "group": "Glissement", "value": "animate__slideInUp", "label": "Slide In Up" }
            ]
        },
        {
            "type": "select",
            "id": "animation_speed",
            "label": "Vitesse d'animation",
            "default": "animate__fast",
            "options": [
                { "value": "animate__slower", "label": "Plus lent" },
                { "value": "animate__slow", "label": "Lent" },
                { "value": "", "label": "Normal" },
                { "value": "animate__fast", "label": "Rapide" },
                { "value": "animate__faster", "label": "Plus rapide" }
    
            ]
        },
        {
            "type": "header",
            "content": "Espacement de la section"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding supérieure",
            "min": 0,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding inférieure",
            "min": 0,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Marge supérieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Marge inférieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "discount",
            "name": "Réduction",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "code",
                    "label": "Code de réduction",
                    "default": "SHOPIWEB"
                },
                {
                    "type": "select",
                    "id": "btn_color",
                    "label": "Couleur du bouton",
                    "default": "btn-primary",
                    "options": [
                        { "group": "Normal", "value": "btn-link", "label": "Lien" },
                        { "group": "Normal", "value": "btn-light", "label": "Claire" },
                        { "group": "Normal", "value": "btn-dark", "label": "Sombre" },
                        { "group": "Normal", "value": "btn-primary", "label": "Primaire" },
                        { "group": "Normal", "value": "btn-secondary", "label": "Secondaire" },
                        { "group": "Normal", "value": "btn-tertiary", "label": "Tertiaire" },
                        { "group": "Normal", "value": "btn-success", "label": "Succès" },
                        { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                        { "group": "Normal", "value": "btn-warning", "label": "Avertissement" },
                        { "group": "Normal", "value": "btn-info", "label": "Info" },
                        { "group": "Contour", "value": "btn-outline-light", "label": "Contour Claire" },
                        { "group": "Contour", "value": "btn-outline-dark", "label": "Contour Sombre" },
                        { "group": "Contour", "value": "btn-outline-primary", "label": "Contour Primaire" },
                        { "group": "Contour", "value": "btn-outline-secondary", "label": "Contour Secondaire" },
                        { "group": "Contour", "value": "btn-outline-tertiary", "label": "Contour Tertiaire" },
                        { "group": "Contour", "value": "btn-outline-success", "label": "Contour Succès" },
                        { "group": "Contour", "value": "btn-outline-danger", "label": "Contour Danger" },
                        { "group": "Contour", "value": "btn-outline-warning", "label": "Contour Avertissement" },
                        { "group": "Contour", "value": "btn-outline-info", "label": "Contour Info" }
                    ]
                },
                {
                    "type": "select",
                    "id": "btn_size",
                    "label": "Taille du bouton",
                    "default": "btn-sm",
                    "options": [
                        { "value": "btn-sm", "label": "Petit" },
                        { "value": "btn-md", "label": "Normal" },
                        { "value": "btn-lg", "label": "Large" }
                    ]
                },
                {
                    "type": "select",
                    "id": "icon",
                    "label": "Icône de copie",
                    "default": "copy",
                    "options": [
                        { "group": "Régulier", "value": "copy", "label": "Copier" },
                        { "group": "Régulier", "value": "check", "label": "Vérifier" },
                        { "group": "Régulier", "value": "gift", "label": "Cadeau" },
                        { "group": "Régulier", "value": "tag", "label": "Étiquette" },
                        { "group": "Régulier", "value": "tags", "label": "Étiquettes" },
                        { "group": "Régulier", "value": "clipboard", "label": "Presse-papiers" },
                        { "group": "Remplie", "value": "gift-fill", "label": "Cadeau Rempli" },
                        { "group": "Remplie", "value": "tag-fill", "label": "Étiquette Remplie" },
                        { "group": "Remplie", "value": "tags-fill", "label": "Étiquettes Remplies" },
                        { "group": "Remplie", "value": "clipboard-fill", "label": "Presse-papiers Rempli" }
                    ]
                },
                {
                    "type": "checkbox",
                    "id": "borders",
                    "label": "Afficher les bordures",
                    "default": false
                }
            ]
        },
        {
            "type": "title",
            "name": "Titre",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "title",
                    "label": "Titre",
                    "default": "Profiter de notre code PROMO !"
                },
                {
                    "type": "select",
                    "id": "heading_tag",
                    "label": "Balise titre (SEO)",
                    "default": "h2",
                    "options": [
                        { "value": "h1", "label": "h1" },
                        { "value": "h2", "label": "h2" },
                        { "value": "h3", "label": "h3" },
                        { "value": "h4", "label": "h4" },
                        { "value": "h5", "label": "h5" },
                        { "value": "h6", "label": "h6" },
                        { "value": "span", "label": "Aucune" }
                    ]
                },
                {
                    "type": "select",
                    "id": "title_size",
                    "label": "Taille du titre",
                    "default": "h3",
                    "options": [
                        { "group": "Titre Supérieur", "value": "display-1", "label": "Extra Extra Grand" },
                        { "group": "Titre Supérieur", "value": "display-2", "label": "Extra Grand" },
                        { "group": "Titre Supérieur", "value": "display-3", "label": "Ultra Grand" },
                        { "group": "Titre Supérieur", "value": "display-4", "label": "Super Grand" },
                        { "group": "Titre Standard", "value": "h1", "label": "Très Grand" },
                        { "group": "Titre Standard", "value": "h2", "label": "Grand" },
                        { "group": "Titre Standard", "value": "h3", "label": "Moyen" },
                        { "group": "Titre Standard", "value": "h4", "label": "Petit" },
                        { "group": "Titre Standard", "value": "h5", "label": "Très Petit" },
                        { "group": "Titre Standard", "value": "h6", "label": "Super Petit" }
                    ]
                }
            ]
        },
        {
            "type": "text",
            "name": "Texte",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Texte",
                    "default": "Livraison gratuite à partir de 100 euros"

                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Barre de Réduction",
            "category": "Layout"
        }
    ]
}
{% endschema %}
