{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    if section.settings.external_video.type == 'youtube'
        assign video_src = 'https://www.youtube.com/embed/' | append: section.settings.external_video.id | append: '&mute=1 to &autoplay=1'
    else
        assign video_src = 'https://player.vimeo.com/video/' | append: section.settings.external_video.id
    endif
%}

<section 
    id="external-video-{{ section.id }}" 
    class="external-video {{ bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{{ section.settings.container }}">
        <div class="mx-auto" style="max-width: {{ section.settings.max_width }}px">
            <div class="ratio ratio-16x9">
                <iframe
                    class="rounded {{ section.settings.img_thumbnail }} {{ section.settings.shadow_sp }} {{ section.settings.border_color }}"
                    style="border-width: {{ section.settings.border_width }}px;"
                    src="{{ video_src }}"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    frameborder="0"
                    allowfullscreen
                    loading="lazy"
                    {% if section.settings.force_lazyload and section.settings.external_video.type == 'youtube' %}
                        srcdoc="
                            <style>
                                * { padding:0; margin:0; overflow:hidden }
                                html, body { height: 100%; background: black; }
                                img, span { position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0; margin: auto; transition: all .2s ease-out; }
                                a:hover img { opacity: .75; }
                                span {
                                    width: 60px; 
                                    height: 42px;
                                    background-color: #FF0000; 
                                    color: white; 
                                    border-radius: 6px; 
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                a:hover span { transform: scale(1.1); }
                            </style>
                            <a href=https://www.youtube.com/embed/{{ section.settings.external_video.id }}?autoplay=1&mute=1>
                                <img 
                                    src=https://img.youtube.com/vi/{{ section.settings.external_video.id }}/maxresdefault.jpg 
                                    alt='Video The Dark Knight Rises: What Went Wrong? – Wisecrack Edition'>
                                <span>
                                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-play-fill' viewBox='0 0 16 16'>
                                        <path d='m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z'/>
                                    </svg>
                                </span>
                            </a>"
                    {% endif %}>
                </iframe>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Video Externe",
    "settings": [
        {
            "type": "paragraph", 
            "content": "Documentation FR : [Video Externe by Shopiweb](https:\/\/www.docs.shopiweb.fr\/theme-premium\/documentation\/sections\/video-externe)"
        },
        {
            "type": "video_url",
            "id": "external_video",
            "label": "Lien de la video",
            "accept": [
                "youtube", "vimeo"
            ],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Couleur de l'arrière plan",
            "default": "bg-body text-body",
            "options": [
                { "group": "Principal", "value": "bg-primary text-white", "label": "Primaire" },
                { "group": "Principal", "value": "bg-secondary text-white", "label": "Secondaire" },
                { "group": "Principal", "value": "bg-tertiary text-white", "label": "Tertiaire" },
                { "group": "Intermédiaire", "value": "bg-white text-dark", "label": "Blanc" },
                { "group": "Intermédiaire", "value": "bg-light text-body", "label": "Claire" },
                { "group": "Intermédiaire", "value": "bg-dark text-white", "label": "Sombre" },
                { "group": "Par défaut", "value": "bg-body text-body", "label": "Corps (body)" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Dégradé d'arrière-plan",
            "default": false,
            "info": "Ne s'applique pas aux couleurs claires"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Conteneur",
            "default": "container",
            "options": [
                { "value": "container", "label": "Conteneur" },
                { "value": "container-fluid", "label": "Pleine largeur" }
            ]
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Largeur max. (px)",
            "default": "991"
        },
        {
            "type": "select",
            "id": "img_thumbnail",
            "label": "Bordure de la vidéo",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "Aucune" },
                { "value": "img-thumbnail", "label": "Bordure" }
            ]
        },
        {
            "type": "select",
            "id": "border_color",
            "label": "Couleur de la bordure",
            "options": [
                { "value": "", "label": "Default" },
                { "value": "border-primary", "label": "Primaire" },
                { "value": "border-secondary", "label": "Secondaire" },
                { "value": "border-dark", "label": "Sombre" },
                { "value": "border-success", "label": "Succès" },
                { "value": "border-warning", "label": "Avertissement" },
                { "value": "border-danger", "label": "Danger" },
                { "value": "border-info", "label": "Info" }
            ],
            "default": ""
        },
        {
            "type": "range",
            "id": "border_width",
            "label": "Largeur de la bordure",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 1
        },
        {
            "type": "select",
            "id": "shadow_sp",
            "label": "Ombre",
            "options": [
                { "value": "shadow-none", "label": "Aucune" },
                { "value": "shadow-1", "label": "Ombre légère" },
                { "value": "shadow-2", "label": "Ombre partiel" },
                { "value": "shadow-3", "label": "Ombre profonde" },
                { "value": "shadow-4", "label": "Ombre totale" }
            ],
            "default": "shadow-1"
        },
        {
            "type": "checkbox",
            "id": "force_lazyload",
            "label": "Forcer le Lazyload",
            "info": "Remarque: S'applique uniquement aux vidéos YouTube. Les navigateurs modernes prennent en charge la fonction native de chargement paresseux, mais lorsque ce paramètre est activé, les iframes de YouTube bénéficient d'une meilleure implémentation du chargement paresseux, car seule la capture d'écran de la vidéo est chargée.",
            "default": true
        },
        {
            "type": "header",
            "content": "Espacement de la section"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding supérieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding inférieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Marge supérieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Marge inférieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "Video Externe",
            "category": "Media"
        }
    ]
}
{% endschema %}
