{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign bg_color = section.settings.bg_color

    if section.settings.bg_gradient
        assign bg_color = bg_color | append: ' bg-gradient'
    endif

    assign btn_shadow_sp = settings.btn_shadow_sp
%}

{% style %}
  {% for block in section.blocks %}
      /* Readmore Shopiweb */
      #holder-readmore-{{ block.id }} .limited-readmore .bottom-readmore {
        background: linear-gradient(to bottom,rgb(255 255 255 / 0%),{{ block.settings.readmore_color }});
      }
      #holder-readmore-{{ block.id }} .read-more-checker ~ .read-more-button:before {
        content: "{{ block.settings.text_voirplus }}";
      }
      #holder-readmore-{{ block.id }} .read-more-checker:checked ~ .read-more-button:before {
        content: "{{ block.settings.text_voirmoins }}";
      }
  {% endfor %}
{% endstyle %}

<section 
    id="image-text-image-{{ section.id }}" 
    class="image-text-image enter-view overflow-hidden d-md-block d-lg-block {% unless section.settings.background_img %} {{ bg_color }} {% endunless %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    
    {% if section.settings.background_img %}
        style="background-image: url('{{ section.settings.background_img.src | image_url }}'); background-size: cover; background-repeat: no-repeat; position: relative;"
    {% endif %}>

    {% if section.settings.background_img %}
        <div class="background-overlay" style="background: rgba(0, 0, 0, {{ section.settings.background_img_opacity }});"></div>
        <div class="background-overlay-blur" style="backdrop-filter: blur({{ section.settings.background_img_blur }}px);"></div>
    {% endif %}

    <div class="{{ section.settings.container }} {% if section.settings.background_img %}{{ bg_color | split: ' ' | last }}{% endif %}"
         style="max-width: {{ section.settings.max_width }}px; position: relative; z-index: 1;">
        <div class="row mx-n6 mx-lg-n8 align-items-lg-center row-cols-1 row-cols-sm-2 row-cols-lg-3">
            {% for block in section.blocks %}
                {% if block.type == 'image' %}
                    <div class="col p-6 p-lg-8" 
                         data-block-type="image"
                         {{ block.shopify_attributes }}>
                        <div 
                            class="animate__animated animate__faster opacity-0"
                            data-animate-class="animate__fadeIn"
                            style="animation-delay: 0ms">
                            {% if block.settings.image == blank %}
                                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg rounded' }}
                            {% else %}
                                {% liquid 
                                    case block.settings.img_orientation
                                        when 'adapt'
                                            assign img_width  = 900
                                            assign img_height = 900 | divided_by: block.settings.image.aspect_ratio | round
                                        when 'square'
                                            assign img_width  = 900
                                            assign img_height = 900
                                        when 'landscape'
                                            assign img_width  = 900
                                            assign img_height = 720
                                        when 'landscape-x2'
                                            assign img_width  = 900
                                            assign img_height = 600
                                        when 'potrait'
                                            assign img_width  = 720
                                            assign img_height = 900
                                        when 'potrait-x2'
                                            assign img_width  = 600
                                            assign img_height = 900
                                    endcase
                                %}
                                <img
                                    class="img-fluid rounded {{ block.settings.img_thumbnail }} {{ block.settings.shadow_sp }} {{ block.settings.border_color }}"
                                    style="border-width: {{ block.settings.border_width }}px;"
                                    src="{{ block.settings.image.src | image_url: width: img_width, height: img_height, crop: block.settings.img_crop }}"
                                    alt="{{ block.settings.image.alt | escape }}"
                                    width="{{ img_width }}"
                                    height="{{ img_height }}"
                                    loading="lazy">
                            {% endif %}
                        </div>
                    </div>
        
                {% elsif block.type == 'text' %}
                    <div class="col p-6 p-lg-8 {{ block.settings.text_align }}"
                         data-block-type="text"
                         {{ block.shopify_attributes }}>
                        {% unless block.settings.subtitle_img == blank %}
                            <div 
                                class="animate__animated animate__faster opacity-0"
                                {% if settings.effect_apply_caption_enable %}
                                  data-animate-class="{{ settings.animation_caption_name }}"
                                  style="animation-delay: 1200ms;"
                                {% endif %}>
                                    {% assign brand_img_width = block.settings.brand_image_size %}
                                    <img
                                        class="img-fluid mb-5"
                                        src="{{ block.settings.subtitle_img.src | image_url: width: brand_img_width }}"
                                        alt="{{ block.settings.subtitle_img.alt | escape }}"
                                        width="{{ brand_img_width }}"
                                        height="auto"
                                        loading="lazy">
                                </div>
                        {% endunless %}
        
                      
                        {% unless block.settings.subtitle == blank %}
                            <div 
                                class="animate__animated animate__faster opacity-0"
                                {% if settings.effect_apply_caption_enable %}
                                  data-animate-class="{{ settings.animation_caption_name }}"
                                  style="animation-delay: 1000ms;"
                                {% endif %}>
                                <p class="subtitle text-uppercase fw-500 mb-3 {{ block.settings.subtitle_size }}"
                                    style="color:{{ block.settings.color_caption }};">
                                    {{ block.settings.subtitle }}
                                </p>
                            </div>
                        {% endunless %} 
                      
                        {% unless block.settings.title == blank %}
                            <div 
                                class="animate__animated animate__faster opacity-0"
                                {% if settings.effect_apply_title_enable %}
                                  data-animate-class="{{ settings.animation_title_name }}"
                                  style="animation-delay: 200ms;"
                                {% endif %}>
                                <{{ block.settings.heading_tag }} class="title mb-4 {{ block.settings.title_size }}">
                                    {{ block.settings.title }}
                                    {% if settings.custom_svg_h2 != blank %}
                                    <div class="h2_svg animate__animated animate__faster opacity-0"
                                        {% if settings.effect_apply_svg_enable %} 
                                          data-animate-class="{{ settings.animation_svg_name }}"
                                          style="animation-delay: 400ms;"
                                        {% endif %}
                                    >
                                      <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {{ settings.custom_svg_h2 }}</span>
                                    </div>
                                  {% else %}
                                    {% if settings.svg_h2 != 'none' %}
                                      <div class="h2_svg mb-4 animate__animated animate__faster opacity-0"
                                            {% if settings.effect_apply_svg_enable %} 
                                              data-animate-class="{{ settings.animation_svg_name }}"
                                              style="animation-delay: 400ms;"
                                            {% endif %}>
                                        <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {% render 'svg-subtitle', svg_h2: settings.svg_h2 %}</span>
                                      </div>
                                    {% endif %}
                                  {% endif %}
                                </{{ block.settings.heading_tag }}>
                            </div>
                        {% endunless %}
        
                        {% if block.settings.readmore %}
                            <div id="holder-readmore-{{ block.id }}" class="holder-readmore">
                                <input type="checkbox" class="read-more-checker" id="read-more-checker--{{ block.id }}" />
                                <div class="limited-readmore l-{{ block.settings.formread }} mb-4">
                                    {% unless block.settings.description == blank %}
                                        <div 
                                            class="animate__animated animate__faster opacity-0"
                                            {% if settings.effect_apply_description_enable %} 
                                              data-animate-class="{{ settings.animation_description_name }}"
                                              style="animation-delay: 600ms;"
                                            {% endif %}>
                                            <div class="description rte mb-7 {{ block.settings.description_size }}">
                                                {{ block.settings.description }}
                                            </div>
                                        </div>
                                    {% endunless %}
                                <div class="bottom-readmore">&nbsp</div>
                                </div>
                                <label for="read-more-checker--{{ block.id }}" class="read-more-button mb-6 animate__animated animate__faster opacity-0"
                                        {% if settings.effect_apply_description_enable %} 
                                          data-animate-class="{{ settings.animation_description_name }}"
                                          style="animation-delay: 600ms;"
                                        {% endif %}></label>
                            </div>
                        {% else %}
                            {% unless block.settings.description == blank %}
                                <div 
                                    class="animate__animated animate__faster opacity-0"
                                    {% if settings.effect_apply_description_enable %} 
                                      data-animate-class="{{ settings.animation_description_name }}"
                                      style="animation-delay: 600ms;"
                                    {% endif %}>
                                    <div class="description rte mb-7 {{ block.settings.description_size }}">
                                        {{ block.settings.description }}
                                    </div>
                                </div>
                            {% endunless %}
                        {% endif %}
                              
                        {% unless block.settings.btn_text == blank %}
                            <div 
                                class="d-inline-flex animate__animated animate__faster opacity-0"
                                {% if settings.effect_apply_btn_enable %} 
                                  data-animate-class="{{ settings.animation_btn_name }}"
                                  style="animation-delay: 800ms;"
                                {% endif %}>
                                <a 
                                    class="btn {{ block.settings.btn_color }} {{ btn_shadow_sp }} {{ block.settings.btn_size }}"
                                    href="{{ block.settings.btn_url }}">
                                    {{ block.settings.btn_text }}
                                </a>
                            </div>
                        {% endunless %}
                    </div>
        
                    
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Image Texte Image",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "paragraph", 
            "content": "Documentation FR : [Image avec texte by Shopiweb](https:\/\/www.docs.shopiweb.fr\/theme-premium\/documentation\/sections\/image-texte-image)"
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "image_picker",
            "id": "background_img",
            "label": "Image d'arrière plan",
            "info": "Si aucune image n'est sélectionnée, les options de couleur d'arrière-plan ci-dessous seront appliquées."
        },
        {
            "type": "range",
            "id": "background_img_opacity",
            "label": "Opacité",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "default": 0.7
        },
        {
            "type": "range",
            "id": "background_img_blur",
            "label": "Flou",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Couleur de l'arrière plan",
            "default": "bg-body text-body",
            "options": [
                { "group": "Principal", "value": "bg-primary text-white", "label": "Primaire" },
                { "group": "Principal", "value": "bg-secondary text-white", "label": "Secondaire" },
                { "group": "Principal", "value": "bg-tertiary text-white", "label": "Tertiaire" },
                { "group": "Intermédiaire", "value": "bg-white text-dark", "label": "Blanc" },
                { "group": "Intermédiaire", "value": "bg-light text-body", "label": "Claire" },
                { "group": "Intermédiaire", "value": "bg-dark text-white", "label": "Sombre" },
                { "group": "Par défaut", "value": "bg-body text-body", "label": "Corps (body)" }
            ]
        },
        {
            "type": "checkbox",
            "id": "bg_gradient",
            "label": "Dégradé d'arrière-plan",
            "default": false,
            "info": "Ne s'applique pas aux couleurs claires"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Conteneur",
            "default": "container",
            "options": [
                { "value": "container", "label": "Conteneur" },
                { "value": "container-fluid", "label": "Pleine largeur" }
            ]
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Largeur max. (px)",
            "default": "991"
        },
        {
            "type": "header",
            "content": "Espacement de la section"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding supérieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding inférieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Marge supérieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Marge inférieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "img_orientation",
                    "label": "Image orientation",
                    "default": "landscape",
                    "options": [
                        { "value": "adapt", "label": "Adapté" },
                        { "value": "square", "label": "Carré" },
                        { "value": "landscape", "label": "Paysage" },
                        { "value": "landscape-x2", "label": "Paysage 2x" },
                        { "value": "potrait", "label": "Portrait" },
                        { "value": "potrait-x2", "label": "Portrait 2x" }
                    ]
                },
                {
                    "type": "select",
                    "id": "img_crop",
                    "label": "Recadrage de l'image",
                    "default": "center",
                    "options": [
                        { "value": "top", "label": "Haut" },
                        { "value": "center", "label": "Centre" },
                        { "value": "bottom", "label": "Bas" },
                        { "value": "left", "label": "Gauche" },
                        { "value": "right", "label": "Droite" }
                    ]
                },
                {
                    "type": "select",
                    "id": "img_thumbnail",
                    "label": "Bordure de l'image",
                    "default": "img-thumbnail",
                    "options": [
                        { "value": "", "label": "Aucune" },
                        { "value": "img-thumbnail", "label": "Bordure" }
                    ]
                },
                {
                    "type": "select",
                    "id": "border_color",
                    "label": "Couleur de la bordure",
                    "options": [
                        { "value": "", "label": "Default" },
                        { "value": "border-primary", "label": "Primaire" },
                        { "value": "border-secondary", "label": "Secondaire" },
                        { "value": "border-tertiary", "label": "Tertiaire" },
                        { "value": "border-dark", "label": "Sombre" },
                        { "value": "border-success", "label": "Succès" },
                        { "value": "border-warning", "label": "Avertissement" },
                        { "value": "border-danger", "label": "Danger" },
                        { "value": "border-info", "label": "Info" }
                    ],
                    "default": ""
                },
                {
                    "type": "range",
                    "id": "border_width",
                    "label": "Largeur de la bordure",
                    "min": 0,
                    "max": 10,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "select",
                    "id": "shadow_sp",
                    "label": "Ombre",
                    "options": [
                        { "value": "shadow-none", "label": "Aucune" },
                        { "value": "shadow-1", "label": "Ombre légère" },
                        { "value": "shadow-2", "label": "Ombre partiel" },
                        { "value": "shadow-3", "label": "Ombre profonde" },
                        { "value": "shadow-4", "label": "Ombre totale" }
                    ],
                    "default": "shadow-1"
                }
            ]
        },
        {
            "type": "text",
            "name": "Texte",
            "limit": 3,
            "settings": [
                {
                    "type": "select",
                    "id": "text_align",
                    "label": "Alignement du texte",
                    "default": "text-start",
                    "options": [
                        { "value": "text-start", "label": "Gauche" },
                        { "value": "text-center", "label": "Centre" },
                        { "value": "text-end", "label": "Droite" }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "subtitle_img",
                    "label": "Légende Image"
                },
                {
                    "type": "text",
                    "id": "brand_image_size",
                    "label": "Image Largeur/Hauteur (px)",
                    "default": "60"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Légende Texte",
                    "default": "Proposition de valeur unique"
                },
                {
                    "type": "select",
                    "id": "subtitle_size",
                    "label": "Taille de la légende",
                    "default": "fs-5",
                    "options": [
                        { "group": "Légende Standard", "value": "fs-1", "label": "Extra Grand" },
                        { "group": "Légende Standard", "value": "fs-2", "label": "Super Grand" },
                        { "group": "Légende Standard", "value": "fs-3", "label": "Très Grand" },
                        { "group": "Légende Standard", "value": "fs-4", "label": "Grand" },
                        { "group": "Légende Standard", "value": "fs-5", "label": "Moyen" },
                        { "group": "Légende Standard", "value": "fs-6", "label": "Petit" } 
                    ]
                },
                {
                  "type": "color",
                  "id": "color_caption",
                  "label": "Couleur de la légende",
                  "default": "#6c757d"
                },
                {
                    "type": "inline_richtext",
                    "id": "title",
                    "label": "Titre",
                    "default": "Image Texte Image"
                },
                {
                    "type": "select",
                    "id": "heading_tag",
                    "label": "Balise titre (SEO)",
                    "default": "h2",
                    "options": [
                        { "value": "h1", "label": "h1" },
                        { "value": "h2", "label": "h2" },
                        { "value": "h3", "label": "h3" },
                        { "value": "h4", "label": "h4" },
                        { "value": "h5", "label": "h5" },
                        { "value": "h6", "label": "h6" },
                        { "value": "span", "label": "Aucune" }
                    ]
                },
                {
                    "type": "select",
                    "id": "title_size",
                    "label": "Taille du titre",
                    "default": "h2",
                    "options": [
                        { "group": "Titre Supérieur", "value": "display-1", "label": "Extra Extra Grand" },
                        { "group": "Titre Supérieur", "value": "display-2", "label": "Extra Grand" },
                        { "group": "Titre Supérieur", "value": "display-3", "label": "Ultra Grand" },
                        { "group": "Titre Supérieur", "value": "display-4", "label": "Super Grand" },
                        { "group": "Titre Standard", "value": "h1", "label": "Très Grand" },
                        { "group": "Titre Standard", "value": "h2", "label": "Grand" },
                        { "group": "Titre Standard", "value": "h3", "label": "Moyen" },
                        { "group": "Titre Standard", "value": "h4", "label": "Petit" },
                        { "group": "Titre Standard", "value": "h5", "label": "Très Petit" },
                        { "group": "Titre Standard", "value": "h6", "label": "Super Petit" }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Associez du texte à une image pour mettre l'accent sur le produit, la collection ou l'article de blog de votre choix. Ajoutez des détails sur la disponibilité, le style, ou donnez même un avis.</p>"
                },
                {
                    "type": "select",
                    "id": "description_size",
                    "label": "Taille de description",
                    "default": "fs-5",
                    "options": [
                        { "group": "Description Standard", "value": "fs-1", "label": "Extra Grand" },
                        { "group": "Description Standard", "value": "fs-2", "label": "Super Grand" },
                        { "group": "Description Standard", "value": "fs-3", "label": "Très Grand" },
                        { "group": "Description Standard", "value": "fs-4", "label": "Grand" },
                        { "group": "Description Standard", "value": "fs-5", "label": "Moyen" },
                        { "group": "Description Standard", "value": "fs-6", "label": "Petit" } 
                    ]
                },
                {
                    "type": "header",
                    "content": "Contenu caché"
                },
                {
                    "type": "checkbox",
                    "id": "readmore",
                    "default": false,
                    "label": "Activer le contenu caché (Voir plus)"
                },
                {
                    "type": "range",
                    "id": "formread",
                    "min": 100,
                    "max": 400,
                    "step": 100,
                    "unit": "px",
                    "label": "À partir de...",
                    "default": 200
                },
                {
                    "type": "color",
                    "id": "readmore_color",
                    "label": "Couleur du fondu",
                    "default": "#fff"
                },
                {
                    "type": "text",
                    "id": "text_voirplus",
                    "label": "Texte (Voir plus)",
                    "default": "Voir plus"
                },
                {
                    "type": "text",
                    "id": "text_voirmoins",
                    "label": "Texte (Voir moins)",
                    "default": "Voir moins"
                },
                {
                    "type": "header",
                    "content": "Bouton"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Texte du bouton",
                    "info": "Laisser vide pour désactiver"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "URL du bouton"
                },
                {
                    "type": "select",
                    "id": "btn_color",
                    "label": "Couleur du bouton",
                    "default": "btn-primary",
                    "options": [
                        { "group": "Normal", "value": "btn-link", "label": "Lien" },
                        { "group": "Normal", "value": "btn-light", "label": "Claire" },
                        { "group": "Normal", "value": "btn-dark", "label": "Sombre" },
                        { "group": "Normal", "value": "btn-primary", "label": "Primaire" },
                        { "group": "Normal", "value": "btn-secondary", "label": "Secondaire" },
                        { "group": "Normal", "value": "btn-tertiary", "label": "Tertiaire" },
                        { "group": "Normal", "value": "btn-success", "label": "Succès" },
                        { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                        { "group": "Normal", "value": "btn-warning", "label": "Avertissement" },
                        { "group": "Normal", "value": "btn-info", "label": "Info" },
                        { "group": "Contour", "value": "btn-outline-light", "label": "Contour Claire" },
                        { "group": "Contour", "value": "btn-outline-dark", "label": "Contour Sombre" },
                        { "group": "Contour", "value": "btn-outline-primary", "label": "Contour Primaire" },
                        { "group": "Contour", "value": "btn-outline-secondary", "label": "Contour Secondaire" },
                        { "group": "Contour", "value": "btn-outline-tertiary", "label": "Contour Tertiaire" },
                        { "group": "Contour", "value": "btn-outline-success", "label": "Contour Succès" },
                        { "group": "Contour", "value": "btn-outline-danger", "label": "Contour Danger" },
                        { "group": "Contour", "value": "btn-outline-warning", "label": "Contour Avertissement" },
                        { "group": "Contour", "value": "btn-outline-info", "label": "Contour Info" }
                    ]
                },
                {
                    "type": "select",
                    "id": "btn_size",
                    "label": "Taille du bouton",
                    "default": "btn-md",
                    "options": [
                        { "value": "btn-sm", "label": "Petit" },
                        { "value": "btn-md", "label": "Normal" },
                        { "value": "btn-lg", "label": "Large" }
                    ]
                }
            ]
        }
    ],
    "max_blocks": 3,
    "presets": [
        {
            "name": "Image Texte Image",
            "category": "Image"
        }
    ]
}
{% endschema %}