{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign btn_shadow_sp = settings.btn_shadow_sp

    assign brand_img_width = section.settings.brand_image_size
%}

<section 
    id="parallax-image-{{ section.id }}" 
    class="parallax-image bg-dark enter-view {{ mt }} {{ mb }}"
    data-vendor-script="{{ 'vendor-simpleParallax.min.js' | asset_url }}">
    <div class="img-wrapper">
        {% if section.settings.img_mobile == blank and section.settings.img_desktop == blank %}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
            <img
                class="img-mobile d-lg-none"
                src="{{ section.settings.img_mobile.src | image_url: width: 960 }}"
                alt="{{ section.settings.img_mobile.alt | escape }}"
                width="960"
                height="{{ 960 | divided_by: section.settings.img_mobile.aspect_ratio | round }}"
                loading="lazy"
                style="opacity: {{ section.settings.img_mobile_opacity }};"
                data-orientation="{{ section.settings.img_mobile_orientation }}"
                data-scale="{{ section.settings.img_mobile_scale }}">
            <img
                class="img-desktop d-none d-lg-block"
                src="{{ section.settings.img_desktop.src | image_url: width: 1920 }}"
                alt="{{ section.settings.img_desktop.alt | escape }}"
                width="1920"
                height="{{ 1920 | divided_by: section.settings.img_desktop.aspect_ratio | round }}"
                loading="lazy"
                style="opacity: {{ section.settings.img_desktop_opacity }};"
                data-orientation="{{ section.settings.img_desktop_orientation }}"
                data-scale="{{ section.settings.img_desktop_scale }}">
        {% endif %}
        {% if section.settings.img_mobile_blur > 0 or section.settings.img_desktop_blur %}
            <div class="parallax-image-blur d-lg-none" style="-webkit-backdrop-filter: blur({{ section.settings.img_mobile_blur }}px); backdrop-filter: blur({{ section.settings.img_mobile_blur }}px);">
                </div>
                <div class="parallax-image-blur d-none d-lg-block" style="-webkit-backdrop-filter: blur({{ section.settings.img_desktop_blur }}px); backdrop-filter: blur({{ section.settings.img_desktop_blur }}px);">
                </div>
        {% endif %}
    </div>
    <div class="container">
        <div 
            class="parallax-image-inner mx-auto {{ pt }} {{ pb }}" 
            style="max-width: {{ section.settings.max_width }}px;">
            {% unless section.settings.subtitle_img == blank %}
                <div 
                    class="animate__animated animate__faster opacity-0"
                    {% if settings.effect_apply_caption_enable %}
                      data-animate-class="{{ settings.animation_caption_name }}"
                      style="animation-delay: 1200ms;"
                    {% endif %}>
                        <img
                            class="img-fluid mb-5"
                            src="{{ section.settings.subtitle_img.src | image_url: width: brand_img_width }}"
                            alt="{{ section.settings.subtitle_img.alt | escape }}"
                            width="{{ brand_img_width }}"
                            height="auto"
                            loading="lazy">
                    </div>
            {% endunless %}
            
            {% unless section.settings.subtitle == blank %}
                <div 
                    class="animate__animated animate__faster opacity-0"
                    {% if settings.effect_apply_caption_enable %}
                      data-animate-class="{{ settings.animation_caption_name }}"
                      style="animation-delay: 1000ms;"
                    {% endif %}>
                        <p class="subtitle text-uppercase fw-500 mb-3 {{ section.settings.subtitle_size }}"
                            style="color:{{ section.settings.color_caption }};">
                            {{ section.settings.subtitle }}
                        </p>
                </div>
            {% endunless %} 
            {% unless section.settings.title == blank %}
                <{{ section.settings.heading_tag }} class="title mb-4 {{ section.settings.title_size }} animate__animated animate__faster opacity-0"
                    {% if settings.effect_apply_title_enable %}
                      data-animate-class="{{ settings.animation_title_name }}"
                      style="animation-delay: 200ms;"
                    {% endif %}>
                    {{ section.settings.title }}
                    {% if settings.custom_svg_h2 != blank %}
                      <div class="h2_svg animate__animated animate__faster opacity-0"
                          {% if settings.effect_apply_svg_enable %} 
                            data-animate-class="{{ settings.animation_svg_name }}"
                            style="animation-delay: 400ms;"
                          {% endif %}
                      >
                        <span style="fill:{{ section.settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {{ settings.custom_svg_h2 }}</span>
                      </div>
                  {% else %}
                    {% if settings.svg_h2 != 'none' %}
                      <div class="h2_svg mb-4 animate__animated animate__faster opacity-0"
                            {% if settings.effect_apply_svg_enable %} 
                              data-animate-class="{{ settings.animation_svg_name }}"
                              style="animation-delay: 400ms;"
                            {% endif %}>
                        <span style="fill:{{ section.settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {% render 'svg-subtitle', svg_h2: settings.svg_h2 %}</span>
                      </div>
                    {% endif %}
                  {% endif %}
                </{{ section.settings.heading_tag }}>
            {% endunless %}
            {% unless section.settings.description == blank %}
                <div class="description rte text-muted mt-n2 mb-5 {{ section.settings.description_size }} animate__animated animate__faster opacity-0"
                    {% if settings.effect_apply_description_enable %} 
                      data-animate-class="{{ settings.animation_description_name }}"
                      style="animation-delay: 600ms;"
                    {% endif %}>
                    {{ section.settings.description }}
                </div>
            {% endunless %}
            
            {% unless section.settings.btn_text == blank %}
                <div 
                    class="d-inline-flex animate__animated animate__faster opacity-0"
                    {% if settings.effect_apply_btn_enable %} 
                      data-animate-class="{{ settings.animation_btn_name }}"
                      style="animation-delay: 800ms;"
                    {% endif %}>
                    <a 
                        class="btn {{ section.settings.btn_color }} {{ btn_shadow_sp }} {{ section.settings.btn_size }}"
                        href="{{ section.settings.btn_url }}">
                        {{ section.settings.btn_text }}
                    </a>
                </div>
            {% endunless %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Image Parallaxe",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "paragraph", 
            "content": "Documentation FR : [Image parallaxe by Shopiweb](https:\/\/www.docs.shopiweb.fr\/theme-premium\/documentation\/sections\/image-parallaxe)"
        },
        {
            "type": "header",
            "content": "Mobile image"
        },
        {
            "type": "image_picker",
            "id": "img_mobile",
            "label": "Image"
        },
        {
            "type": "range",
            "id": "img_mobile_opacity",
            "label": "Opacité",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "default": 0.7
        },
        {
            "type": "range",
            "id": "img_mobile_blur",
            "label": "Flou",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0
        },
        {
            "type": "select",
            "id": "img_mobile_orientation",
            "label": "Orientation",
            "options": [
                { "value": "up", "label": "Haut" },
                { "value": "right", "label": "Droite" },
                { "value": "down", "label": "Bas" },
                { "value": "left", "label": "Gauche" },
                { "value": "up left", "label": "Haut gauche" },
                { "value": "up right", "label": "Haut droite" },
                { "value": "down left", "label": "Bas gauche" },
                { "value": "down right", "label": "Bas droite" }
            ],
            "default": "down"
        },
        {
            "type": "range",
            "id": "img_mobile_scale",
            "label": "Échelle de parallaxe (%)",
            "info": "Sélectionnez 100% pour désactiver l'effet de parallaxe",
            "min": 100,
            "max": 200,
            "default": 120,
            "step": 1
        },
        {
            "type": "header",
            "content": "Desktop image"
        },
        {
            "type": "image_picker",
            "id": "img_desktop",
            "label": "Image"
        },
        {
            "type": "range",
            "id": "img_desktop_opacity",
            "label": "Opacité",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "default": 0.7
        },
        {
            "type": "range",
            "id": "img_desktop_blur",
            "label": "Flou",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0
        },
        {
            "type": "select",
            "id": "img_desktop_orientation",
            "label": "Orientation",
            "options": [
                { "value": "up", "label": "Haut" },
                { "value": "right", "label": "Droite" },
                { "value": "down", "label": "Bas" },
                { "value": "left", "label": "Gauche" },
                { "value": "up left", "label": "Haut gauche" },
                { "value": "up right", "label": "Haut droite" },
                { "value": "down left", "label": "Bas gauche" },
                { "value": "down right", "label": "Bas droite" }
            ],
            "default": "down"
        },
        {
            "type": "range",
            "id": "img_desktop_scale",
            "label": "Échelle de parallaxe (%)",
            "info": "Sélectionnez 100% pour désactiver l'effet de parallaxe",
            "min": 100,
            "max": 200,
            "default": 120,
            "step": 1
        },
        {
            "type": "header",
            "content": "Texte"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Largeur max. (px)",
            "default": "720"
        },
        {
            "type": "header",
            "content": "En-tête de la section"
        },
        {
            "type": "image_picker",
            "id": "subtitle_img",
            "label": "Légende Image"
        },
        {
            "type": "text",
            "id": "brand_image_size",
            "label": "Image Largeur/Hauteur (px)",
            "default": "60"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Légende Texte",
            "default": "Proposition de valeur unique"
        },
        {
            "type": "select",
            "id": "subtitle_size",
            "label": "Taille de la légende",
            "default": "fs-5",
            "options": [
                { "group": "Légende Standard", "value": "fs-1", "label": "Extra Grand" },
                { "group": "Légende Standard", "value": "fs-2", "label": "Super Grand" },
                { "group": "Légende Standard", "value": "fs-3", "label": "Très Grand" },
                { "group": "Légende Standard", "value": "fs-4", "label": "Grand" },
                { "group": "Légende Standard", "value": "fs-5", "label": "Moyen" },
                { "group": "Légende Standard", "value": "fs-6", "label": "Petit" } 
            ]
        },
        {
            "type": "color",
            "id": "color_caption",
            "label": "Couleur de la légende",
            "default": "#6c757d"
        },
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Titre",
            "default": "Image parallaxe"
        },
        {
            "type": "select",
            "id": "heading_tag",
            "label": "Balise titre (SEO)",
            "default": "h2",
            "options": [
                { "value": "h1", "label": "h1" },
                { "value": "h2", "label": "h2" },
                { "value": "h3", "label": "h3" },
                { "value": "h4", "label": "h4" },
                { "value": "h5", "label": "h5" },
                { "value": "h6", "label": "h6" },
                { "value": "span", "label": "Aucune" }
            ]
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Taille du titre",
            "default": "h2",
            "options": [
                { "group": "Titre Supérieur", "value": "display-1", "label": "Extra Extra Grand" },
                { "group": "Titre Supérieur", "value": "display-2", "label": "Extra Grand" },
                { "group": "Titre Supérieur", "value": "display-3", "label": "Ultra Grand" },
                { "group": "Titre Supérieur", "value": "display-4", "label": "Super Grand" },
                { "group": "Titre Standard", "value": "h1", "label": "Très Grand" },
                { "group": "Titre Standard", "value": "h2", "label": "Grand" },
                { "group": "Titre Standard", "value": "h3", "label": "Moyen" },
                { "group": "Titre Standard", "value": "h4", "label": "Petit" },
                { "group": "Titre Standard", "value": "h5", "label": "Très Petit" },
                { "group": "Titre Standard", "value": "h6", "label": "Super Petit" }
            ]
        },
        {
          "type": "header",
          "content": "🏆 Application SVG Sous-titre",
          "info": "👉 Application Version Shopiweb Premium"
        },
        {
          "type": "color",
          "id": "color_svg_h2",
          "label": "Couleur du SVG",
          "default": "#fff"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Associez un texte de grande taille à une image pour mettre l'accent sur le produit, la collection ou l'article de blog de votre choix. Ajoutez des détails sur la disponibilité, le style ou même un commentaire.</p>"
        },
        {
            "type": "select",
            "id": "description_size",
            "label": "Taille de description",
            "default": "fs-5",
            "options": [
                { "group": "Description Standard", "value": "fs-1", "label": "Extra Grand" },
                { "group": "Description Standard", "value": "fs-2", "label": "Super Grand" },
                { "group": "Description Standard", "value": "fs-3", "label": "Très Grand" },
                { "group": "Description Standard", "value": "fs-4", "label": "Grand" },
                { "group": "Description Standard", "value": "fs-5", "label": "Moyen" },
                { "group": "Description Standard", "value": "fs-6", "label": "Petit" } 
            ]
        },
        {
            "type": "header",
            "content": "Bouton"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Texte du bouton",
            "info": "Laisser vide pour désactiver"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "URL du bouton"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Couleur du bouton",
            "default": "btn-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Lien" },
                { "group": "Normal", "value": "btn-light", "label": "Claire" },
                { "group": "Normal", "value": "btn-dark", "label": "Sombre" },
                { "group": "Normal", "value": "btn-primary", "label": "Primaire" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondaire" },
                { "group": "Normal", "value": "btn-tertiary", "label": "Tertiaire" },
                { "group": "Normal", "value": "btn-success", "label": "Succès" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Avertissement" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Contour", "value": "btn-outline-light", "label": "Contour Claire" },
                { "group": "Contour", "value": "btn-outline-dark", "label": "Contour Sombre" },
                { "group": "Contour", "value": "btn-outline-primary", "label": "Contour Primaire" },
                { "group": "Contour", "value": "btn-outline-secondary", "label": "Contour Secondaire" },
                { "group": "Contour", "value": "btn-outline-tertiary", "label": "Contour Tertiaire" },
                { "group": "Contour", "value": "btn-outline-success", "label": "Contour Succès" },
                { "group": "Contour", "value": "btn-outline-danger", "label": "Contour Danger" },
                { "group": "Contour", "value": "btn-outline-warning", "label": "Contour Avertissement" },
                { "group": "Contour", "value": "btn-outline-info", "label": "Contour Info" }
            ]
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Taille du bouton",
            "default": "btn-md",
            "options": [
                { "value": "btn-sm", "label": "Petit" },
                { "value": "btn-md", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "header",
            "content": "Espacement de la section"
        },
        {
          "type": "range",
          "id": "pt",
          "label": "Padding supérieure",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "pb",
          "label": "Padding inférieure",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "mt",
          "label": "Marge supérieure",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "mb",
          "label": "Marge inférieure",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
        }
    ],
    "presets": [
        {
            "name": "Image Parallaxe",
            "category": "Image"
        }
    ]
}
{% endschema %}