{% comment %}
---------------------------------------------------------
Copyright © 2019/2024 Theme Shopiweb Premium. Tous droits réservés.
La copie, la modification, la distribution ou l'utilisation
non autorisée de ce code ou de toute partie de celui-ci est formellement interdite.
Les contrevenants seront poursuivis dans toute la mesure permise par la loi.
---------------------------------------------------------
{% endcomment %}

{% liquid
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign row_xs = section.settings.breakpoint_xs | prepend: 'row-cols-'
    assign row_sm = section.settings.breakpoint_sm | prepend: 'row-cols-sm-'
    assign row_md = section.settings.breakpoint_md | prepend: 'row-cols-md-'
    assign row_lg = section.settings.breakpoint_lg | prepend: 'row-cols-lg-'
    assign row_xl = section.settings.breakpoint_xl | prepend: 'row-cols-xl-'
    assign row_xxl = section.settings.breakpoint_xxl | prepend: 'row-cols-xxl-'
%}

<section 
    id="blog-{{ section.id }}" 
    class="blog enter-view {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">
        <{{ section.settings.heading_tag }} 
            class="
                title text-center {{ section.settings.title_size }} animate__animated animate__faster opacity-0
                {% if section.settings.title_show %}
                    mb-6
                {% else %}
                    visually-hidden
                {% endif %}"
                {% if settings.effect_apply_title_enable %}
                  data-animate-class="{{ settings.animation_title_name }}"
                  style="animation-delay: 200ms;"
                {% endif %}
            >
            {{ blog.title }}
            {% if settings.custom_svg_h2 != blank %}
              <div class="h2_svg animate__animated animate__faster opacity-0"
                  {% if settings.effect_apply_svg_enable %} 
                    data-animate-class="{{ settings.animation_svg_name }}"
                    style="animation-delay: 400ms;"
                  {% endif %}
              >
                <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {{ settings.custom_svg_h2 }}</span>
              </div>
            {% else %}
              {% if settings.svg_h2 != 'none' %}
                <div class="h2_svg mb-4 animate__animated animate__faster opacity-0"
                      {% if settings.effect_apply_svg_enable %} 
                        data-animate-class="{{ settings.animation_svg_name }}"
                        style="animation-delay: 400ms;"
                      {% endif %}>
                  <span style="fill:{{ settings.color_svg_h2 }}; width:{{ settings.width_svg_h2 }}rem;"> {% render 'svg-subtitle', svg_h2: settings.svg_h2 %}</span>
                </div>
              {% endif %}
            {% endif %}
        </{{ section.settings.heading_tag }}>
        {% if section.settings.show_filter_by %}
            <div class="blog-utilities d-lg-flex justify-content-lg-between align-items-lg-center bg-light py-4 px-4 mb-6 rounded">
                <div class="breadcrumbs-wrapper mb-4 mb-lg-0">
                    {% render 'breadcrumbs' %}
                </div>
                <div class="input-group w-auto">
                    <label class="input-group-text" for="blog-tag-select">
                        {{ 'blogs.filter_by' | t }}
                    </label>
                    <select
                        id="blog-tags-select"
                        class="form-select w-auto"
                        style="min-width: 160px;"
                        onchange="javascript:location.href = window.location.href = this.value">
                        <option value="{{ blog.url }}">
                            {{ 'blogs.all_topics' | t }}
                        </option>
                        {% for tag in blog.all_tags %}
                            <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>
                                {{ tag }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        {% paginate blog.articles by section.settings.limit %}
            <ul class="blog-list list-unstyled row mx-n3 mx-lg-n4 {{ row_xs }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }}">
                {% for article in blog.articles %}
                    {% render 'article-item', article: article %}
                {% endfor %}
            </ul>
            {% render 'pagination' with paginate: paginate %}
        {% endpaginate %}
    </div>
</section>

{% schema %}
{
    "name": "Blog",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "checkbox",
            "id": "title_show",
            "label": "Afficher le titre",
            "default": true
        },
        {
            "type": "select",
            "id": "heading_tag",
            "label": "Balise titre (SEO)",
            "default": "h1",
            "options": [
                { "value": "h1", "label": "h1" },
                { "value": "h2", "label": "h2" },
                { "value": "h3", "label": "h3" },
                { "value": "h4", "label": "h4" },
                { "value": "h5", "label": "h5" },
                { "value": "h6", "label": "h6" },
                { "value": "span", "label": "Aucune" }
            ]
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Taille du titre",
            "default": "h1",
            "options": [
                { "group": "Titre Supérieur", "value": "display-1", "label": "Extra Extra Grand" },
                { "group": "Titre Supérieur", "value": "display-2", "label": "Extra Grand" },
                { "group": "Titre Supérieur", "value": "display-3", "label": "Ultra Grand" },
                { "group": "Titre Supérieur", "value": "display-4", "label": "Super Grand" },
                { "group": "Titre Standard", "value": "h1", "label": "Très Grand" },
                { "group": "Titre Standard", "value": "h2", "label": "Grand" },
                { "group": "Titre Standard", "value": "h3", "label": "Moyen" },
                { "group": "Titre Standard", "value": "h4", "label": "Petit" },
                { "group": "Titre Standard", "value": "h5", "label": "Très Petit" },
                { "group": "Titre Standard", "value": "h6", "label": "Super Petit" }
            ]
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Articles par page",
            "min": 10,
            "max": 50,
            "default": 40,
            "step": 1
        },
        {
            "type": "checkbox",
            "id": "show_filter_by",
            "label": "Afficher le filtre",
            "default": true
        },
        {
            "type": "header",
            "content": "Article"
        },
        {
            "type": "select",
            "id": "article_img_orientation",
            "label": "Image orientation",
            "default": "landscape-2",
            "options": [
                { "value": "square", "label": "Carré" },
                { "value": "landscape", "label": "Paysage" },
                { "value": "landscape-2", "label": "Paysage 2x" },
                { "value": "landscape-3", "label": "Paysage 3x" },
                { "value": "potrait", "label": "Portrait" }
            ]
        },
        {
            "type": "select",
            "id": "article_title_size",
            "label": "Taille du titre",
            "default": "h5",
            "options": [
                { "group": "Titre Standard", "value": "h1", "label": "Très Grand" },
                { "group": "Titre Standard", "value": "h2", "label": "Grand" },
                { "group": "Titre Standard", "value": "h3", "label": "Moyen" },
                { "group": "Titre Standard", "value": "h4", "label": "Petit" },
                { "group": "Titre Standard", "value": "h5", "label": "Très Petit" },
                { "group": "Titre Standard", "value": "h6", "label": "Super Petit" }
            ]
        },
        {
            "type": "checkbox",
            "id": "article_meta_author",
            "label": "Afficher l'auteur de l'article",
            "info": "Auteur",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "article_meta_date",
            "label": "Afficher la date de l'article",
            "info": "Date",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "article_excerpt",
            "label": "Afficher l'extrait de l'article",
            "default": true
        },
        {
            "type": "select",
            "id": "border_color",
            "label": "Couleur de la bordure",
            "options": [
                { "value": "", "label": "Par défaut" },
                { "value": "border-primary", "label": "Primaire" },
                { "value": "border-secondary", "label": "Secondaire" },
                { "value": "border-tertiary", "label": "Tertiaire" },
                { "value": "border-dark", "label": "Sombre" },
                { "value": "border-success", "label": "Succès" },
                { "value": "border-warning", "label": "Avertissement" },
                { "value": "border-danger", "label": "Danger" },
                { "value": "border-info", "label": "Info" }
            ],
            "default": ""
        },
        {
            "type": "range",
            "id": "border_width",
            "label": "Largeur de la bordure",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 1
        },
        {
            "type": "select",
            "id": "shadow_sp",
            "label": "Ombre",
            "options": [
                { "value": "shadow-none", "label": "Aucune" },
                { "value": "shadow-1", "label": "Ombre légère" },
                { "value": "shadow-2", "label": "Ombre partiel" },
                { "value": "shadow-3", "label": "Ombre profonde" },
                { "value": "shadow-4", "label": "Ombre totale" }
            ],
            "default": "shadow-1"
        },
        {
            "type": "header",
            "content": "Animation"
        },
        {
            "type": "select",
            "id": "animation",
            "label": "Effet d'animation",
            "default": "animate__zoomIn",
            "options": [
                { "group": "Désactivé", "value": "", "label": "Pas d'animation" },
                { "group": "Retour", "value": "animate__backInDown", "label": "Back In Down" },
                { "group": "Retour", "value": "animate__backInLeft", "label": "Back In Left" },
                { "group": "Retour", "value": "animate__backInRight", "label": "Back In Right" },
                { "group": "Retour", "value": "animate__backInUp", "label": "Back In Up" },
                { "group": "Rebond", "value": "animate__bounceIn", "label": "Bounce In" },
                { "group": "Rebond", "value": "animate__bounceInDown", "label": "Bounce-in-down" },
                { "group": "Rebond", "value": "animate__bounceInLeft", "label": "Bounce-in-left" },
                { "group": "Rebond", "value": "animate__bounceInRight", "label": "Bounce-in-right" },
                { "group": "Rebond", "value": "animate__bounceInUp", "label": "Bounce-in-up" },
                { "group": "Fondu", "value": "animate__fadeIn", "label": "Fade In" },
                { "group": "Fondu", "value": "animate__fadeInDown", "label": "Fade-in-down" },
                { "group": "Fondu", "value": "animate__fadeInDownBig", "label": "Fade-in-down Big" },
                { "group": "Fondu", "value": "animate__fadeInLeft", "label": "Fade-in-left" },
                { "group": "Fondu", "value": "animate__fadeInLeftBig", "label": "Fade-in-left Big" },
                { "group": "Fondu", "value": "animate__fadeInRight", "label": "Fade-in-right" },
                { "group": "Fondu", "value": "animate__fadeInRightBig", "label": "Fade-in-right Big" },
                { "group": "Fondu", "value": "animate__fadeInUp", "label": "Fade-in-up" },
                { "group": "Fondu", "value": "animate__fadeInUpBig", "label": "Fade-in-up Big" },
                { "group": "Fondu", "value": "animate__fadeInTopLeft", "label": "Fade-in Top Left" },
                { "group": "Fondu", "value": "animate__fadeInTopRight", "label": "Fade-in Top Right" },
                { "group": "Fondu", "value": "animate__fadeInBottomLeft", "label": "Fade-in Bottom Left" },
                { "group": "Fondu", "value": "animate__fadeInBottomRight", "label": "Fade-in Bottom Right" },
                { "group": "Flip", "value": "animate__flip", "label": "Flip" },
                { "group": "Flip", "value": "animate__flipInX", "label": "Flip In X" },
                { "group": "Flip", "value": "animate__flipInY", "label": "Flip In Y" },
                { "group": "Flip", "value": "animate__flipOutX", "label": "Flip Out X" },
                { "group": "Flip", "value": "animate__flipOutY", "label": "Flip Out Y" },
                { "group": "Vitesse Lumière", "value": "animate__lightSpeedInRight", "label": "Light Speed In Right" },
                { "group": "Vitesse Lumière", "value": "animate__lightSpeedInLeft", "label": "Light Speed In Left" },
                { "group": "Rotation", "value": "animate__rotateIn", "label": "Rotate In" },
                { "group": "Rotation", "value": "animate__rotateInDownLeft", "label": "Rotate In Down Left" },
                { "group": "Rotation", "value": "animate__rotateInDownRight", "label": "Rotate In Down Right" },
                { "group": "Rotation", "value": "animate__rotateInUpLeft", "label": "Rotate In Up Left" },
                { "group": "Rotation", "value": "animate__rotateInUpRight", "label": "Rotate In Up Right" },
                { "group": "Zoom", "value": "animate__zoomIn", "label": "Zoom In" },
                { "group": "Zoom", "value": "animate__zoomInDown", "label": "Zoom In Down" },
                { "group": "Zoom", "value": "animate__zoomInLeft", "label": "Zoom In Left" },
                { "group": "Zoom", "value": "animate__zoomInRight", "label": "Zoom In Right" },
                { "group": "Zoom", "value": "animate__zoomInUp", "label": "Zoom In Up" },
                { "group": "Glissement", "value": "animate__slideInDown", "label": "Slide In Down" },
                { "group": "Glissement", "value": "animate__slideInLeft", "label": "Slide In Left" },
                { "group": "Glissement", "value": "animate__slideInRight", "label": "Slide In Right" },
                { "group": "Glissement", "value": "animate__slideInUp", "label": "Slide In Up" }
            ]
        },
        {
            "type": "select",
            "id": "animation_speed",
            "label": "Vitesse d'animation",
            "default": "animate__fast",
            "options": [
                { "value": "animate__slower", "label": "Plus lent" },
                { "value": "animate__slow", "label": "Lent" },
                { "value": "", "label": "Normal" },
                { "value": "animate__fast", "label": "Rapide" },
                { "value": "animate__faster", "label": "Plus rapide" }
    
            ]
        },
        {
            "type": "header",
            "content": "Points d'arrêt",
            "info": "Ajuster les éléments par ligne en fonction de la résolution de l'écran"
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Éléments par ligne / xs",
            "info": "Largeur d'écran : moins de 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Éléments par ligne / sm",
            "info": "Largeur d'écran : ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Éléments par ligne / md",
            "info": "Largeur d'écran : ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Éléments par ligne / lg",
            "info": "Largeur d'écran : ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Éléments par ligne / xl",
            "info": "Largeur d'écran : ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Éléments par ligne / xxl",
            "info": "Largeur d'écran : ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 3
        },
        {
            "type": "header",
            "content": "Espacement de la section"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding supérieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding inférieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Marge supérieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Marge inférieure",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "templates": ["blog"],
    "presets": [
        {
            "name": "Blog",
            "category": "Blog"
        }
    ]
}
{% endschema %}